<!-- 1. Ejemplo de estrategia on Push para Change Detection -->

<!-- <app-on-push></app-on-push> -->

<!-- 2.  Ejemplo de uso de metodo Detach() y DetectChanges() -->

<!-- <app-detach></app-detach> -->

<!-- 3. Ejemplo de uso de metodo detach() y reattach() -->

<!-- <app-reattach [enVivo]="live"></app-reattach>

<h5>Mostrar precio Bitcoin en vivo?</h5>
<input type="checkbox" [(ngModel)]="live" /> -->

<!-- 4.  Ejemplo de uso de AngularZone (ngZone)  -->

<!-- <app-ng-zone></app-ng-zone> -->

<!-- 5. Ejemplo de Async Pipe -->
<app-async-pipe [items$]="items$"></app-async-pipe>
<!-- Boton para emitir una nueva lista con nuevo valor al componente async pipe -->
<button (click)="addItem()">Añadir nuevo Item a la lista.</button>
