<div>
  <h1>Ejemplo Angular Zone</h1>
  <p>
    Proceso de incremento que se puede ejecutar dentro o fuera de Angular Zone
  </p>
  <p>
    Implicando que los cambios del progreso se vean o no hasta que se indique
  </p>

  <div>
    <h3>Progreso Actual: {{ progreso }}%</h3>
    <h4 *ngIf="progreso >= 100">
      Progreso Terminado: {{ texto }} de Angular Zone
    </h4>
  </div>

  <div>
    <button (click)="aumentarDentroNgZone()">Aumentar DENTRO de NgZone</button>
  </div>

  <div>
    <button (click)="aumentarFueraNgZone()">Aumentar FUERA de NgZone</button>
  </div>
</div>
